<body>
  <div align="center">
    <img src="#" alt="Logo SERVIEXPRESS"/>
  </div>
  <div class="contenedorPadre flex-column justify-items-center
  align-items-center expand-lg">
    <div class="segment" style="background-color: rgba(235, 71, 71, 0.507)">
      <section class="sectionButton">
        <button (click)="segmentChanged('1')" [ngClass]="{ 'active': segmentValue === '1' }">
          Log In
        </button>
        <button (click)="segmentChanged('2')" [ngClass]="{ 'active': segmentValue === '2' }">
          Sign Up
        </button>
      </section>
      <div class="formContainer">
      <app-sign-in *ngIf="segmentValue === '1'"></app-sign-in>
      <app-sign-up *ngIf="segmentValue === '2'"></app-sign-up>
      </div>
    </div>
  </div>
</body>
